.post-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.post-content h2{
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

p.post-content{
    margin-bottom: 20px;
}

@media (max-width: 400px){
    .post-content h1{
        font-size: 2rem;
    }

    .post-content h2{
        font-size: 1.8rem;
    }
}